server:
  port: 8090
eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: gateway-server
  cloud:
    config:
      enabled: false
#      Change it to config server
    gateway:
      discovery.locator:
        enabled: true
      lowerCaseServiceId: true
      routes:
        - id: users-ws
          uri: lb://users-ws
          predicates:
            - Path=/users-ws/users/
          filters:
            - RewritePath=/users-ws/(?<path>.*), /$\{path}
            - RemoveRequestHeader=Cookie, Set=Cookie
        - id: games-ws
            uri: lb://games-ws
            predicates:
              - Path=/games-ws/
            filters:
              - RewritePath=/games-ws/(?<path>.*), /$\{path}
              - RemoveRequestHeader=Cookie, Set=Cookie
#            - TokenFilter
#        - id: users-ws-login
#          uri: lb://users-ws/
#          predicates:
#            - Path=/users-ws/users/login
#            - Method=POST
#          filters:
#            - RemoveRequestHeader=Cookie
#            - RewritePath=/users-ws/(?<segment>.*), /$\{segment}